{% extends 'base.html.twig' %}

{% block title %}Webcrate - redirect edit{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('chunk-vendors.css') }}">
    <link rel="stylesheet" href="{{ asset('admin.css') }}">
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('chunk-vendors.js') }}"></script>
    <script src="{{ asset('admin-redirect.js') }}"></script>
{% endblock %}

{% block body %}
    <script>
        var user = '{{ app.user ? app.user.email : '' }}';
    </script>
    <div id="header"></div>
    <div id="app"></div>
    <div class="redirect-edit-page">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Save"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
