{% extends 'base.html.twig' %}

{% block title %}Webcrate - redirect edit{% endblock %}
{% block javascripts %}
    <script type="module" src="{{ asset('build/header.js') }}"></script>
    <script type="module" src="{{ asset('build/admin-redirect.js') }}"></script>
{% endblock %}

{% block body %}
    <script>
        var user = '{{ app.user ? app.user.email : '' }}';
    </script>
    <div id="header"></div>
    <div id="app"></div>
    <div class="redirect-edit-page">
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="Save"/>
        {{ form_end(form) }}
    </div>
{% endblock %}
