{% extends 'base.html.twig' %}

{% block title %}Log in to Webcrate admin panel{% endblock %}
{% block javascripts %}
    <script type="module" src="{{ asset('build/login.js') }}"></script>
{% endblock %}

{% block body %}
    <script>
        var error = {{ error ? 'true' : 'false' }};
        var error_message = "{{ error ? error.messageKey|trans(error.messageData, 'security') : '' }}";
        var csrf_token = "{{ csrf_token('authenticate') }}";
        var last_username = "{{ last_username }}";
    </script>
    <div id="app"></div>
{% endblock %}
